@use "../utils/_main" as utils

@mixin hover($color, $percent)
    &:hover
        background: darken($color, 10%)


.button
    @extend %top-xs
    @extend %paragraphe-m
    @include utils.flex(center)
    border-radius: 1rem
    padding: 0.5rem 1.5rem
    font-weight: 500
    transition: 0.5s ease-in

    &:not(&--blue):hover
        color: utils.$blue

    &__icon
        fill: inherit
        margin-left: 0.5rem

    &--blue
        @extend .button
        background-color: utils.$blue
        color: utils.$white
        fill: utils.$white
        @include hover(utils.$blue, 10%)


    &--light-blue
        @extend .button
        background-color: utils.$blue-white
        color: utils.$blue
        fill: utils.$blue
        @include hover(utils.$blue-white, 10%)
